    </main>
    <footer class="site-footer" id="consult">
      <div class="container site-footer__content">
        <div>
          <h3>룸빵일번지</h3>
          <p>강남 · 수도권 · 부산의 프리미엄 룸과 라운지를 연결하는 원스톱 컨시어지 플랫폼입니다.</p>
        </div>
        <div>
          <h4>상담 안내</h4>
          <ul>
            <li>제휴 문의: <a href="tel:01000000000">010-0000-0000</a></li>
            <li>운영 시간: 12:00 ~ 03:00</li>
            <li>카카오톡: @roombbang1st</li>
          </ul>
        </div>
        <div>
          <h4>바로가기</h4>
          <ul>
            <li><a href="#areas">추천 지역</a></li>
            <li><a href="#categories">업종별 찾기</a></li>
            <li><a href="#process">이용 방법</a></li>
          </ul>
        </div>
      </div>
      <div class="site-footer__bottom">
        <p>© <%= new Date().getFullYear() %> 룸빵일번지. All rights reserved.</p>
      </div>
    </footer>
    <% if (scripts) { %>
      <% scripts.forEach(function (script) { %>
        <script src="<%= script %>"></script>
      <% }); %>
    <% } %>
  </body>
</html>
